@font-face {
  font-family: arvo;
  src: url("https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap") format(ttf);
}
body {
  margin: 0px;
}
#logoArea {
  background-color: black;
}
#goTopBtn {
  background-color: transparent;
  border-color: transparent;
}
.firstSection {
  padding: 10%;
  background-color: black;
}
.mainSection {
  padding: 10%;
  overflow: auto;
  display: grid;
  grid-template-columns: 65% 1fr;
}
.sectionImage {
  float: right;
}
#ilikeLogo {
  position: fixed;
  top: 40px;
  left: 40px;
}
.headLine {
  font-family: arvo;
  font-size: 90px;
  font-weight: 700;
  color: #ccfd34;
  padding-top: 500px;
  padding-bottom: 300px;
  margin: 0px;
  text-align: center;
}
.mainTitle {
  font-family: arvo;
  font-size: 90px;
  font-weight: 700;
  color: #ccfd34;
  margin: 0px;
}
.subText {
  font-family: arvo;
  font-size: 30px;
  font-weight: 400;
  color: #ccfd34;
  padding-bottom: 300px;
  max-width: 700px;
}
#bg1 {
  background-color: #cea6ad;
}
#bg2 {
  background-color: #70aabc;
}
#bg3 {
  background-color: black;
}
#bg4 {
  background-color: #bc8770;
}
